@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    margin: 50px;
    background-color: #ddd;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

.container {
    display: grid;
    gap: 10px;
}

/* Header */
.header {
    display: grid;
    grid-template-areas: 'hero hero feature-1'
        'hero hero feature-2';
}

.hero {
    grid-area: hero;
    min-height: 350px;
    background-image: url(img/hero.jpg);
    background-size: cover;
    padding: 50px;
}

.hero>* {
    display: none;
}

.feature {
    display: grid;
    place-content: center;
    text-align: center;
    background-color: #fff;
}

.feature-1 {
    grid-area: feature-1;
    background-image: url(img/hoodie.jpg);
    background-size: cover;
}

.feature-2 {
    grid-area: feature-2;
    background-image: url(img/tshirt.jpg);
    background-size: cover;
}

.feature .price {
    font-size: 3em;
    font-weight: 200;
}

/* Navigation */
.menu {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    order: -1;
}

.menu .brand {
    font-size: 1.3em;
    color: #333;
}

.menu ul {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
}

.menu a {
    text-decoration: none;
    display: block;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    font-size: 0.9em;
}

/* Responsive Breakpoints */
@media (max-width: 1024px) {
    .menu {
        order: inherit;
        grid-template-columns: 1fr;
    }

    .menu .brand {
        display: none;
    }

    .hero>* {
        display: block;
        background-color: white;
        padding: 10px;
        margin-bottom: 5px;
    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
}

@media (max-width: 768px) {}

@media (max-width: 500px) {}